/* ACLONICA */

@font-face {
    font-family: 'aclonicaregular';
    src: url('../fonts/aclonica/aclonica-regular-webfont.woff2') format('woff2'),
         url('../fonts/pressstar/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PRESSSTAR */

@font-face {
    font-family: 'press_start_2pregular';
    src: url('../fonts/pressstar/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('../fonts/pressstar/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}